@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?edckrd');
  src:  url('../fonts/icomoon.eot?edckrd#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?edckrd') format('truetype'),
  url('../fonts/icomoon.woff?edckrd') format('woff'),
  url('../fonts/icomoon.svg?edckrd#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-uniforms:before {
  content: "\e900";
}
.icon-departments:before {
  content: "\e903";
}
.icon-news:before {
  content: "\e904";
}
.icon-events:before {
  content: "\e953";
}
.icon-chatting:before {
  content: "\e96c";
}
.icon-user:before {
  content: "\e971";
}
.icon-staff:before {
  content: "\e972";
}
.icon-search:before {
  content: "\e986";
}
.icon-materials:before {
  content: "\e996";
}
.icon-pharmacy:before {
  content: "\e998";
}
.icon-foods:before {
  content: "\e9a2";
}
.icon-vehicles:before {
  content: "\e9b0";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-logout:before {
  content: "\ea14";
}
.icon-filtering:before {
  content: "\ea4d";
}
.icon-skills:before {
  content: "\ea52";
}
