@keyframes popupShake {
  0%   {
    transform: translateX(0px);
    transform: translateY(0px);
  }
  25%  {
    transform: translateX(15px);
    transform: translateY(4px);
  }
  50%  {
    transform: translateX( -3px);
    transform: translateX( 2px);
  }
  75%  {
    transform: translateX( -17px);
    transform: translateX( -5px);
  }
  100% {
    transform: translateX( 0px);
    transform: translateY( 0px);
  }
}

#popupContainer .popup {
  position: absolute; top: 0; right: 0; left: 0; z-index: 150;
  height: 0;
  overflow-x: hidden;
  overflow-y: auto;

  -webkit-transition: height .5s, background .5s;
  -moz-transition: height .5s, background .5s;
  transition: height .5s, background .5s;
}
#popupContainer .popup {
  background: rgba(0, 0, 0, 0);
}
#popupContainer .popup.in {
  height: 100%;
}
#popupContainer .popup.in:first-child {
  background: rgba(0, 0, 0, 0.4);
}

#popupContainer .popup .box {
  position: absolute; top: 0; right: 0; left: 0;
  height: 100%;

  background-color: #363636;
  background-color: rgba(29, 29, 29, 0.9);
  overflow-x: hidden;
  overflow-y: hidden;

  color: #fff;
}
#popupContainer .popup .box:after {
  content: "";
  display: inline-block;
  height: 75%; width: 0;

  vertical-align: middle;
}

#popupContainer .popup.popupShake .box {
  animation-play-state: running;
  animation-name: popupShake;
  animation-duration: .1s;
  animation-iteration-count: 4;
}

#popupContainer .popup .content {
  display: inline-block;
  width: 100%; max-height: 60%;
  max-height: calc(100% - 60px);
  padding: 20px;

  box-sizing: border-box;
  overflow-y: auto;
  vertical-align: middle;
  text-align: center;
}
#popupContainer .popup .content:after {
  content: "";
  display: inline-block;
  height: 100;
}
#popupContainer .popup .content .drawable {
  font-size: 3em;

  margin-bottom: 5px;
}
#popupContainer .popup .content .title {
  font-weight: bold;
  font-size: 1.2em;

  margin-bottom: 5px;
}
#popupContainer .popup[data-type="form"] .content form label > span {
  display: inline-block;
  width: 100px;
  text-align: right;
  padding-right: 10px;
  padding-top: 8px;
  vertical-align: top;
}
#popupContainer .popup[data-type="form"] .content form label {
  display: inline-block;
}
#popupContainer .popup[data-type="form"] .content form label > textarea,
#popupContainer .popup[data-type="form"] .content form label > input,
#popupContainer .popup[data-type="form"] .content form label > select {
  width: 250px;
  max-width: 250px;
  padding: 5px;
  margin: 5px;
  border: 0;
  border-radius: 3px;
  background: #fff;
  box-sizing: border-box;
}
#popupContainer .popup[data-type="form"] .content form .radioContainer {
  margin-bottom: 8px;
}
#popupContainer .popup[data-type="form"] .content form .radioContainer label {
  margin: 0 8px;
}
#popupContainer .popup[data-type="form"] .content form .radioContainer label > input {
  width: auto;
}
#popupContainer .popup[data-type="form"] .content form label > select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #fff url("/images/dropdown_arrow.png") right center no-repeat;
}
#popupContainer .popup[data-type="form"] .content form label > textarea:invalid,
#popupContainer .popup[data-type="form"] .content form label > input:invalid,
#popupContainer .popup[data-type="form"] .content form label > select:invalid {
  box-shadow: 0 0 5px 2px #fe1b1b;
  background: #ffeded;
}
#popupContainer .popup .buttons {
  position: absolute; right: 0; bottom: 0; left: 0; z-index: 150;
}
#popupContainer .popup .buttons .button {
  display: inline-block;
  width: 50%;
  padding: 20px 0;
  border: 0;

  text-align: center;
}
#popupContainer .popup .buttons .button:last-child:nth-child(odd) {
  width: 100%;
}

@media (min-width: 768px) {
  #popupContainer .popup .box {
    top: 25%;
    height: 50%; min-height: 300px; max-width: 600px;
    margin: auto;

    border-radius: 5px;
    box-shadow: 5px 5px 15px #000;
  }
}
