@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Roboto');

@keyframes loadBar {
  0%   {
    background-image: repeating-linear-gradient(-45deg, #945EB8, #945EB8 5px, #44225C 5px, #44225C 10px);
    background-position: 0 0;
  }
  100% {
    background-image: repeating-linear-gradient(-45deg, #945EB8, #945EB8 5px, #44225C 5px, #44225C 10px);
    background-position: 15px 0;
  }
}
@keyframes loadContent {
  0% {
    background-image: linear-gradient(45deg, transparent, transparent, transparent, transparent, transparent, transparent);
  }
  6% {
    background-image: linear-gradient(45deg, transparent, transparent, transparent, transparent, transparent, transparent);
  }
  7% {
    background-image: linear-gradient(45deg, #FFF6, transparent, transparent, transparent, transparent, transparent);
  }
  8% {
    background-image: linear-gradient(45deg, transparent, #FFF6, transparent, transparent, transparent, transparent);
  }
  9% {
    background-image: linear-gradient(45deg, transparent, transparent, #FFF6, transparent, transparent, transparent);
  }
  10% {
    background-image: linear-gradient(45deg, transparent, transparent, transparent, #FFF6, transparent, transparent);
  }
  11% {
    background-image: linear-gradient(45deg, transparent, transparent, transparent, transparent, #FFF6, transparent);
  }
  12% {
    background-image: linear-gradient(45deg, transparent, transparent, transparent, transparent, transparent, #FFF6);
  }
  13% {
    background-image: linear-gradient(45deg, transparent, transparent, transparent, transparent, transparent, transparent);
  }
  16% {
    background-image: linear-gradient(45deg, transparent, transparent, transparent, transparent, transparent, transparent);
  }
  17% {
    background-image: linear-gradient(45deg, #FFF6, transparent, transparent, transparent, transparent, transparent);
  }
  18% {
    background-image: linear-gradient(45deg, transparent, #FFF6, transparent, transparent, transparent, transparent);
  }
  19% {
    background-image: linear-gradient(45deg, transparent, transparent, #FFF6, transparent, transparent, transparent);
  }
  20% {
    background-image: linear-gradient(45deg, transparent, transparent, transparent, #FFF6, transparent, transparent);
  }
  21% {
    background-image: linear-gradient(45deg, transparent, transparent, transparent, transparent, #FFF6, transparent);
  }
  22% {
    background-image: linear-gradient(45deg, transparent, transparent, transparent, transparent, transparent, #FFF6);
  }
  23% {
    background-image: linear-gradient(45deg, transparent, transparent, transparent, transparent, transparent, transparent);
  }
  100% {
    background-image: linear-gradient(45deg, transparent, transparent, transparent, transparent, transparent, transparent);
  }
}

* {
  padding: 0;
  margin: 0;
}
.middleVerticalAlign {
  display: inline-block;
  width: 100%;

  vertical-align: middle;
}
.middleVerticalAligner {
  content: '';
  display: inline-block;
  height: 100%; width: 0;

  vertical-align: middle;
}

.align-right {
  text-align: right;
}

.button {
  border: 1px solid #FF4C4C;
  padding: 6px 8px;

  border-radius: 3px;
  color: inherit;
  font-size: 1.1em;
  font-family: inherit;
  background: #FF4C4C;
  text-decoration: none;

  -webkit-transition: background .2s, text-shadow .2s;
  transition: background .2s, text-shadow .2s;
}
.button:hover {
  background: #F26969;
  text-shadow: 0 0 5px #fff;

  -webkit-transition-delay: .1s;
  transition-delay: .1s;
}

.loading-content * {
  display: block;
  width: 70%;
  height: 1em;
  background: #8884;
  margin: 10px;
  border-radius: 3px;

  animation: loadContent 2.5s linear infinite;
}
.appblock header .loading-content.no-margin * {
  margin: 0;
}
.loading-content *:nth-child(4n+2) {
  width: 50%;
}
.loading-content *:nth-child(4n+3) {
  width: 53%;;
}
.loading-content *:nth-child(4n+4) {
  width: 43%;;
}
.loading-content *:nth-child(4n+5) {
  margin-top: 30px;
}

label, button, .action, .button, input[type="submit"], select {
  cursor: pointer;
}

table {
  border-collapse: collapse;
  width: 100%;
  font-size: .85em;
}
table thead tr {
  background-color: #FFDE4C;
}
table th, table td {
  padding: 3px 6px;
  text-align: left;
}
td .tag {
  display: inline-block;
  padding: 1px 4px;
  background: #BBB;
  border-radius: 3px;
  font-size: 0.85em;
  color: #FFF;
  text-align: center;
  text-shadow: 0 0 6px #000;
  margin-bottom: 1px;
  margin-top: 2px;
}
td .tag.ok {
  background: #41AC56;
}
td .tag.not-ok {
  background: #FF4C4B;
}
td .tag.maybe {
  background: #FF8A0C;
}

.grid {
  padding: 0;

  transition: padding .4s;
}
.grid > .row1, .grid > .row1-2, .grid > .row1-3, .grid > .row2-3 {
  display: inline-block;
  vertical-align: top;
  width: 100%;
}
.grid > * > .appblock + .appblock {
  margin-top: 15px;
}
.appblock {
  display: block;
  margin: 7.5px;

  background: #FFF;
  border-radius: 3px;
  box-shadow: 0 0 5px #E1E1E1;
}
.appblock > * {
  padding: 10px;
  overflow-x: auto;
}
.appblock header {
  font-weight: bold;
  background: #FFDE4C;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.appblock .full-content {
  padding: 0;
}
.appblock .full-content .appblock-sub {
  padding: 10px;
}
.appblock .app-parent > *:nth-child(2n) {
  background-color: #F4F4F4;
}
.appblock .app-parent > *:last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.appblock .app-parent > *:hover {
  background-color: #FFDE4C75;
}

html, body {
  position: relative;
  margin:0;
  padding:0;
  height:100%; width: 100%; min-width: 320px;

  font-family: Roboto, 'Open Sans', sans-serif;
  font-size: 1em;

  background-color: #EBECF0;
}


/* APP HEADER */
body .page > header {
  height: 48px;
  line-height: 48px;
  padding: 0 5px;

  color: #EEE;
  background-color: #FF4C4C;

  -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  -o-box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  box-shadow: 1px 1px 2px rgba(0,0,0,0.3);

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body > .page header a {
  color: inherit;
  text-decoration: none;
}

body > .page header .logo {
  font-weight: bold;
  font-size: 1.5em;
}
body > .page header .logo.active {
  text-shadow: 0 0 2px #E1E1E1;
}

body > .page header .search {
  text-align: center;
  background: #FF4C4C;
}
body > .page header .search > * {
  border: 0;
  padding: 6px;
  box-sizing: content-box;
  height: 18px;
}
body > .page header .search input[type="search"] {
  border-radius: 3px;
  width: 85%;
}
body > .page header .search select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  background-image: url('data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIj48cGF0aCBmaWxsPSIjMUUxRTFFIiBkPSJNMCwyNSAxMDAsMjUgNTAsNzV6Ii8+PC9zdmc+');
  background-repeat: no-repeat;
  background-position: right .7em top 50%;
  background-size: .65em auto;
  padding-right: 1.5em;

  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
body > .page header .search input[type="submit"] {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background: #FFDE4C;
}

body > .page header .menuItem {
  display: inline-block;
  padding: 0 5px;
}
body > .page header .menuItem i {
  margin-right: 0.5em;
}

body > .page header .menuItem:hover {
  background-color: rgba(0, 0, 0, 0.1)
}

body > .page header .menu-right .menuItem.active {
  color: #FFF;
}

body > .page header .menu-switch {
  float: left;
  width: 14px;
}
body > .page.no-menu header .menu-switch {
  display: none;
}
body > .page header .menu-switch:before, body > .page header .menu-switch::before {
  position: relative;
  left: -6px;
  line-height: 48px;
  font-size: 1.5em;
}

body > .page header .menu-right {
  float: right;
}
/* !APP HEADER */


/* APP MENU */
#mobile-menu {
  position: absolute; top: 48px; left: 0; bottom: 0px; z-index: 100;
  width: 0; max-width: 250px;

  color: #495761;
  background-color: #FFF;

  -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  -o-box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  box-shadow: 1px 1px 2px rgba(0,0,0,0.3);

  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;

  -webkit-transition: width .5s;
  -moz-transition: width .5s;
  transition: width .5s;
}
#mobile-menu:target {
  width: 70%;
}
.page.no-menu #mobile-menu:target {
  width: 0;
}

#menu-cover {
  display: none;
  position: absolute; top: 0px; left: 0; bottom: 0px; right: 0; z-index: 99;

  -webkit-transition: background-color .5s;
  -moz-transition: background-color .5s;
  transition: background-color .5s;
}
#mobile-menu:target + #menu-cover {
  display: block;

  background-color: rgba(0, 0, 0, 0.5);
}
.page.no-menu #mobile-menu:target + #menu-cover {
  display: none;
}
#menu-cover a {
  display: block;
  position: absolute; top: 0px; left: 0; bottom: 0px; right: 0;
}

#menu .menuItem {
  display: block;
  width: 250px;
  line-height: 45px;
  padding: 0 10px;

  color: inherit;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#menu .menuItem:hover {
  color: #1E1E1F;
}
#menu .menuItem.active {
  color: #FF4C4C;
  background-color: rgba(0, 0, 0, 0.15);
}
/* !APP MENU */


/* APP CONTENT */
.no-small, .no-medium {
  display: none;
}

#content {
  position: absolute; top: 48px; bottom: 0; left:0; right: 0;

  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;

  -webkit-transition: left .5s;
  -moz-transition: left .5s;
  transition: left .5s;
}

#content:before {
  content: " ";
  position: absolute; top: 0; left: 0;
  width: 0; height: 3px;

  background-color: #FFDE4C;
}
#content[class^="load"]:before {
  -webkit-transition: width .5s;
  -moz-transition: width .5s;
  transition: width .5s;
}
#content.load10:before { width: 10%; }
#content.load20:before { width: 20%; }
#content.load30:before { width: 30%; }
#content.load40:before { width: 40%; }
#content.load50:before { width: 50%; }
#content.load60:before { width: 60%; }
#content.load70:before { width: 70%; }
#content.load80:before { width: 80%; }
#content.load90:before { width: 90%; }
#content[data-load]:before {
  width: attr(data-load);
  width: attr(data-load %);
}
#content.load100:before {
  width: 100%;

  -webkit-transition: width .2s;
  -moz-transition: width .2s;
  transition: width .2s;
}
#content.load0:before {
  -webkit-transition: width 0s;
  -moz-transition: width 0s;
  transition: width 0s;
}
#content:after {
  position: absolute; right: 100%; bottom: 0; left: -100%;
  content: "";

  -webkit-transition: left .5s, right .5s;
  -moz-transition: left .5s, right .5s;
  transition: left .5s, right .5s;
}

#content[class^="load"].slow:before {
  height: 5px;

  animation-name: loadBar;
  animation-duration: .5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
#content[class^="load"].slow:after {
  content: "La requête Internet est anormalement longue. Vérifiez votre connexion...";
  right: 0; left: 0;
  padding: 10px;

  background-color: #000;
  color: #FFF;

  animation-name: loadBar;
  animation-duration: .5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#content .margin {
  padding: 15px 10px;
}

#content .fullheight {
  height: 100%;
  min-height: 100%;
  box-sizing: border-box;
}

#content .center {
  text-align: center;
}
#content .block-center {
  margin-left: auto;
  margin-right: auto;
}

#content .hidden-switch {
  opacity: 1;

  -webkit-transition: opacity .5s;
  -moz-transition: opacity .5s;
  transition: opacity .5s;
}
#content .hidden {
  display: none;
  opacity: 0;
}
/* !APP CONTENT */

@media (min-width: 768px) {
  .no-small {
    display: inherit;
  }

  .grid {
    padding: 12.5px;
  }
  .grid > .row1 {
    width: 100%;
  }
  .grid > .row1-2 {
    width: 50%;
  }
  .grid > .row1-3 {
    width: 33.33%;
  }
  .grid > .row2-3 {
    width: 66.66%;
  }

  .menu-switch, .menu-switch:before, .menu-switch::before {
    display: none;
  }
  body > .page header .search {
    position: relative;

    -webkit-transition: top .25s;
    -moz-transition: top .25s;
    transition: top .25s;

    top: 0;

    border-bottom: 0;
    background: none;
  }
  body > .page.no-menu header .search {
    top: -50px
  }
  body > .page header .search input[type="search"] {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: 0;
    width: auto;
  }
  body > .page header .search select {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: 0;
    border-left: 1px solid #E1E1E1;
  }
  body > .page header .search input[type="submit"] {
    border: 0;
  }
  #mobile-menu {
    display: inline-block;
    vertical-align: top;

    position: static;
    top: 0;
    left: 0;
    width: auto;
    max-width: none;
    background: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
  }
  #mobile-menu:target {
    width: auto;
  }
  .page.no-menu #mobile-menu:target {
    width: auto;
  }
  #menu {
    position: absolute; top: 48px; left: 0; bottom: 0px; z-index: 100;
    width: 0;

    color: #495761;
    background-color: #FFF;

    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    -o-box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.3);

    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;

    -webkit-transition: width .5s;
    -moz-transition: width .5s;
    transition: width .5s;
  }
  #menu, #menu:target {
    width: 80px;
  }
  #menu .menuItem {
    width: auto;
    line-height: 1.5em;
    padding: 10px 0;
    text-align: center;
    font-size: 0.75em;
  }
  #menu .menuItem i {
    display: block;
    font-size: 1.5em;
    margin-right: 0;
  }
  .page.no-menu #menu, .page.no-menu #menu:target, .page.no-menu #menu:focus {
    width: 0;
  }
  #mobile-menu:target + #menu-cover {
    display: none;
  }
  #content {
    left: 80px;
  }
  .page.no-menu #content {
    left: 0;
  }

  #content .margin {
    padding: 15px 25px;
  }
}

@media (min-width: 1080px) {
  .not-medium {
    display: inherit;
  }
}

@media (max-height: 380px) {
  #content {
    position: relative;
    top: 0;
  }
}
