.loginPoster {
	height: 100%; width: 100%;

	color: #222;
	text-align: center;
	background-size: cover;
	background-image: url('/images/login_background_1600.jpg');
	background-position: 100% 43%;
}

.loginPoster form {
	display: inline-block;
	width: 300px;
	max-width: 95%;
}

.loginPoster form .logo {
	font-size: 1.5em;
	font-weight: bold;
	color: #FF4C4C;
}

.loginPoster form input {
	width: 100%;
	margin-bottom: 17px;

	font-size: 1.05em;
	border: 0;
	border-bottom: 1px solid #aaa;

	-webkit-transition: border-bottom .2s;
			transition: border-bottom .2s;
}

.loginPoster form small {
	text-align: left;
}
.loginPoster form input:focus {
	width: 100%;

	border: 0;
	border-bottom: 2px solid #FF4C4C;
}
.loginPoster form .button {
	width: 100%;

	color: #fff;
}
.loginPoster form .button.signup {
	background: #fff;
	color: #F26969;
}
.loginPoster form .button.signup:hover {
	color: #FF4C4C;
	text-shadow: 0 0 5px #bbb;
}

@media (max-width: 1080px) {
	.loginPoster {
		background-image: url('/images/login_background_800.jpg');
	}
}
