<div class="grid">
  <div class="row1-3">
    <section class="appblock">
      <header>
        Mes participations à venir
      </header>
      <div class="full-content">
        <table>
          <thead>
            <tr>
              <td>Type</td>
              <td>Nom</td>
              <td>Lieu</td>
              <td>Horaires</td>
            </tr>
          </thead>
          <tbody id="participation-container" class="app-parent">
            <tr>
              <td colspan="4">
                <div class="loading-content">
                  <div></div><div></div><div></div><div></div>
                  <div></div><div></div><div></div><div></div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
    <section class="appblock">
      <header>
        Prochains événements à venir (auquels je peux participer)
      </header>
      <div class="full-content">
        <table>
          <thead>
            <tr>
              <td>Type</td>
              <td>Nom</td>
              <td>Lieu</td>
              <td>Horaires</td>
            </tr>
          </thead>
          <tbody id="events-container" class="app-parent">
            <tr>
              <td colspan="4">
                <div class="loading-content">
                  <div></div><div></div><div></div><div></div>
                  <div></div><div></div><div></div><div></div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  </div><!--
  --><div class="row2-3">
    <section class="appblock">
      <header>
        Actualités
      </header>
      <div id="news-container" class="full-content app-parent">
        <div class="loading-content">
          <div></div><div></div><div></div><div></div>
          <div></div><div></div><div></div><div></div>
          <div></div><div></div><div></div><div></div>
          <div></div><div></div><div></div><div></div>
        </div>
      </div>
    </section>
  </div>
</div>
