<div class="loginPoster">
	<div class="middleVerticalAlign">
		<form id="loginForm" class="appblock">
			<header>
			<object class="logo" type="image/svg+xml" data="/images/logo.svg">OpenCaserne</object>
			</header>
			<div>
				<input id="loginFormEmail" type="text" placeholder="Email" required="required" value="openCaserne" /><br />
				<input id="loginFormPassword" type="password" placeholder="Mot de passe" required="required" value="#c@serne" /><br />
				<button class="button" onclick="appScripts.login.login(); return false;">Se connecter</button>
			</div>
		</form>
	</div><div class="middleVerticalAligner"></div>
</div>
