<div class="grid">
  <div class="row1">
    <section class="appblock">
      <header id="header-container">
        <div class="loading-content no-margin">
          <div></div>
        </div>
      </header>
      <div class="full-content" id="content-container">
        <div class="loading-content">
          <div></div><div></div><div></div><div></div>
          <div></div><div></div><div></div><div></div>
          <div></div><div></div><div></div><div></div>
          <div></div><div></div><div></div><div></div>
        </div>
      </div>
    </section>
  </div>
</div>
